gradio==4.44.1
openai
wikipedia
twitter-api-client
python-dotenv
pytest
youtube-transcript-api
py-trees
python-pptx
python-docx
markdown
moviepy
opencv-python
scipy
prefect
googlemaps
fal-client
pyautogui
pymupdf
azure-search-documents
jinja2 
openai 
groq
anthropic
tiktoken